# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg
.eggs/

# Virtual environments
venv/
.venv/

# Environment variables
.env
 
 # ML artefacts and models
artefacts/
*.pkl
*.joblib

# MLflow local run data
mlruns/
mlartifacts/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log
logs/

# Docker
.docker/